[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.2"
django-autoslug = "*"
django-ckeditor = "*"
django-environ = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
