{% extends 'base.html' %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}




<div class="card mb-3">
    <div class="row g-0">
      <div class="col-sm-12">
        <div class="card-body mb-3">
          <h5 class="card-title">{{ article.title }}</h5>
          <h6 class="card-text">Author(s): {{ article.authors|safe }}</h6>
          <p class="card-text">{{ article.body|safe }}</h5>
          <p class="card-text">Tag(s): {% for x in article.tags.all %} <a target="_blank" href="{{ x.url }}" ><button>{{ x.name }}</button></a> {% endfor %}</p>
          <p class="card-text">Keyword(s): {{ article.keywords|safe }}</p>
          <p class="card-text"><small class="text-muted">Publish Date {{ article.publish_date }}</small></p>
          <p class="card-text"><small class="text-muted">Last Update {{ article.update_date|timesince }}</small></p>

        </div>
      </div>
    </div>
  </div>

  <h6>
    <li class="list-group-item mb-3">
      <a href="{% url 'tag' article.id %}">Tag</a> <!--bir card başlığını linklemek için kullanılan yapı-->
  </li>
  </h6>
  <h6>
    <li class="list-group-item mb-3">
      <a href="{% url 'report' article.id %}">Report</a> <!--bir card başlığını linklemek için kullanılan yapı-->
  </li>
  </h6>



{% endblock %}