{% extends 'base.html' %}

{% block title %} Mainpage {% endblock %}

{% block content %}

{% if request.user.is_authenticated %}

{% for article in articles %}

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-sm-12">
        <div class="card-body mb-3">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{ article.body|safe|truncatechars_html:300 }}</p>
          <!--<p class="card-text">{{ article.body|safe|truncatechars_html:300 }}</p> kewords çekilip buraya eklenmeli-->
          <p class="card-text"><small class="text-muted">Publish Date {{ article.publish_date }}</small></p>
          <p class="card-text"><small class="text-muted">Last Update {{ article.update_date|timesince }}</small></p>

        </div>
      </div>
    </div>
  </div>
{% empty %}

<p>We couldn't find any article related to your search.</p>

{% endfor %}

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">

      <li class="page-item ">
        <a class="page-link" href="?page=1 " tabindex="-1" aria-disabled="true">First</a>
      </li>


      {% if articles.has_previous %}
        <li class="page-item ">
          <a class="page-link" href="?page= {{ articles.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        

      {% else %}

        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>

      {% endif %}

      {% if articles.has_next %}


      {% if articles.has_previous %}

        <li class="page-item"><a class="page-link" href="?page= {{ articles.previous_page_number }}">{{ articles.previous_page_number }}</a></li>
        <li class="page-item"><a class="page-link" href="?page= {{ articles.number }}">{{ articles.number }}</a></li>
        <li class="page-item"><a class="page-link" href="?page= {{ articles.next_page_number }}">{{ articles.next_page_number }}</a></li>
      
      {% else %}
        
      <li class="page-item"><a class="page-link" href="?page= {{ articles.number }}">{{ articles.number }}</a></li>
      <li class="page-item"><a class="page-link" href="?page= {{ articles.next_page_number }}">{{ articles.next_page_number }}</a></li>

      {% endif %}

      <li class="page-item">
        <a class="page-link" href="?page= {{ articles.next_page_number }}">Next</a>
      </li>

      {% else %}

      {% if articles.has_previous %}

      <li class="page-item"><a class="page-link" href="#">{{ articles.previous_page_number }}</a></li>
      <li class="page-item"><a class="page-link" href="#">{{ articles.number }}</a></li>
      
      <li class="page-item disabled">
        <a class="page-link" href="?page= {{ articles.previous_page_number }}" tabindex="-1" aria-disabled="true">Next</a>
      </li>

      {% else %}

      {% endif %}

      {% endif %}

      <li class="page-item ">
        <a class="page-link" href="?page= {{ articles.paginator.num_pages }}" tabindex="-1" aria-disabled="true">Last</a>
      </li>
      
     
      
    </ul>
  </nav>

  {% else %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                </div>
                <div class="col-sm-6 login-form-2">
                    <h3>Login</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd" value="Login">Forgot Password?</a>
                        </div>
                        <div class="form-group">
                          <a href="#" class="ForgetPwd" value="Login">You don't haven an account?</a>
                      </div>
                    </form>
                </div>
            </div>
        </div>
{% endif %}


{% endblock %}