<div class="card">
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'homepage' %}">Homepage</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'profilesettings' %}">Profile Settings</a>
  </li>
      <li class="list-group-item">
        <a href="{% url 'changepassword' %}">Change Password</a>
    </li>
      <li class="list-group-item">
        <a href="{% url 'logout' %}">Logout</a>
    </li>
    </ul>
  </div>

  